* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background-color: #232323;
}

h1 {
  color: white;
  background-color: #2C8E99;
  font-size: 3rem;
  text-align: center;
  padding: 40px 0;
}

#container {
  width: 60%;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  margin: 1.66%;
  cursor: pointer;
}

#color-display {
  display: block;
  font-size: 6rem;
}

.square {
  border-radius: 20%;
}